.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-template-areas:
    ". note . "
    ". upload . "
    "spinner spinner spinner"
    "text text text"
  
  }
.bruh{
    grid-area:  note;
    justify-self: center;
    align-self: center; 

}
.result{
 grid-area: spinner;
 justify-content: center;
}
.text{
 grid-area: text;
 justify-self: start;
}
  .upload{
      grid-area: upload;
      justify-self: center;
      align-self: start;
  }
  .fileInput{
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .fileInput:hover{
    background-color: #ddd;
  }
  .fileInput:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .fileInput:active{
    transform: translateY(1px);

  }
  .uploadButton {
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .uploadButton:hover {
    background-color: #ddd;
  }
  
  .uploadButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .uploadButton:active {
    transform: translateY(1px);
  }
  